* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3E92CC;
  min-height: 100vh;
}

.browser {
  display: flex;
  flex-direction: column;
  background: #ECE8EF;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  min-width: 60%;
  min-height: 50vh;
}

.tabs {
  flex-shrink: 1;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  padding-top: 10px;
}

.tab {
  position: relative;
  background: #1B9AAA;
  min-width: 120px;
  font-size: 14px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: 0.3s ease all;
  overflow: hidden;
  cursor: pointer;
}

.tab a {
  display: block;
  padding: 12px 25px;
  color: #ECE8EF;
  text-decoration: none;
}

.viewport {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #003049;
  color: #ECE8EF;
  flex: 1;
  flex-grow: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.highlight {
  display: block;
  position: absolute;
  height: 80px;
  width: 300px;
  border-radius: 50%;
  opacity: 0.6;
  pointer-events: none;
  background: radial-gradient(rgba(255, 199, 89, 1), rgba(157, 128, 238, 0));
  transition: 0.3s ease all;
}